{% extends "base.html" %}
{% block extra_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/group.css') }}">
{% endblock %}

{% block content %}
<a href="/" class="nav-item">Go back</a>
<div id="chat-container">
    <div id="chat-window">
        <ul id="messages">
            <!-- Messages will be dynamically loaded here -->
        </ul>
    </div>
   
    <div id="message-input">
        <textarea id="message-text" placeholder="Type your message..."></textarea>
        <input id="message-image" type="file" accept="image/*" style="display: none;">
        <button id="attach-button" onclick="document.getElementById('message-image').click()">📎</button>
        <button class="send-button" id="send-button">Send</button>
    </div>

    {% if current_user in contract.invited_users %}
        <div id="invitation-actions">
            <button id="accept-button">Accept</button>
            <button id="decline-button">Decline</button>
        </div>
    {% endif %}
</div>

<script>
    const contractId = "{{ contract.id }}";
    const userId = "{{ user.id }}";

    // Check for undefined contractId or userId
    if (!contractId || !userId) {
        console.error("Missing contractId or userId!");
    }
</script>

<!-- Include Socket.IO client library -->
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<!-- Include your custom JavaScript -->
<script src="{{ url_for('static', filename='js/group_chat.js') }}"></script>
{% endblock %}
