{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}
{% block content %}
<div class="contentt">
    <div class="top-bar">
        <h1>Your Profile</h1>
    </div>
    <div class="profile-initial">
        {{ user.username[0] | upper }}
    </div>
    
    <div class="main-content">
        <p>Welcome, {{ user.username }}!</p>
        <p>Your balance is {{ balance }}</p>
        <p>Your Solana Public address is {{ sol_address }}</p>
    </div>
    
    <form method="GET" action="{{ url_for('main.logout') }}" style="margin-top: 20px;">
        <button type="submit" class="logout-button">Logout</button>
    </form>
    
</div>

<nav class="bottom-nav">
    <a href="/" class="nav-item">
        <i class="fa-solid fa-file-contract"></i>
        <span>Contracts</span>
    </a>
    <!-- <a href="/progress" class="nav-item">
        <i class="fa-solid fa-trophy"></i>
        <span>Progress</span>
    </a> -->
    <a href="/profile" class="nav-item active">
        <i class="fa-solid fa-gear"></i>
        <span>Profile</span>
    </a>
</nav>

{% endblock %}
